<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IBE.Properties.Settings.elite_dbConnectionString"
            connectionString="server=127.0.0.1;user id=RN_User;password=Elite;database=elite_db;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="IBE.Properties.Settings.elite_dbConnectionString1"
            connectionString="server=127.0.0.1;user id=RN_User;persistsecurityinfo=True;database=elite_db"
            providerName="MySql.Data.MySqlClient" />
        <add name="IBE.Properties.Settings.elite_dbConnectionString2"
            connectionString="server=127.0.0.1;user id=RN_User;persistsecurityinfo=True;database=elite_db;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="IBE.Properties.Settings.elite_dbConnectionString3"
            connectionString="server=localhost;user id=root;database=elite_db;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>
